
<md-dialog aria-label="GameShelf Settings" flex="70%">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Collection Settings</h2>
        <span flex></span>
        <md-button class="md-fab md-mini" ng-click="cancel()">
          <i class="fa fa-times fa-2x" aria-hidden="true" aria-label="Close dialog"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
    <form name="collectionForm">
      <div class="md-dialog-content" >
        <md-input-container class="md-block">
            <label>Collection Name</label>
                <input required md-no-asterisk name="name" ng-model="newCollection.title">
                <div ng-messages="newCollection.$error">
                <div ng-message="required">This is required.</div>
                </div>
        </md-input-container>
        
        <md-input-container class="md-block">
        <md-select required md-no-asterisk name="field" ng-model="newCollection.field" placeholder="Field">
          <md-option value="Name">Name</md-option>
          <md-option value="Publisher">Publisher</md-option>
        </md-select>
        <div ng-messages="newCollection.$error">
                <div ng-message="required">This is required.</div>
                </div>
        </md-input-container>

        <md-input-container class="md-block">
        <md-select required md-no-asterisk name="filter" ng-model="newCollection.filter" placeholder="Filter">
          <md-option value="Is Equal To">Is Equal To</md-option>
          <md-option value="Is Not Equal To">Is Not Equal To</md-option>
          <md-option value="Contains">Contains</md-option>
          <md-option value="Does Not Contain">Does Not Contain</md-option>
        </md-select>
        <div ng-messages="newCollection.$error">
                <div ng-message="required">This is required.</div>
                </div>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Collection Text</label>
                <input required md-no-asterisk name="text" ng-model="newCollection.text">
                <div ng-messages="newCollection.$error">
                <div ng-message="required">This is required.</div>
                </div>
        </md-input-container>
        
        <md-button ng-disabled="collectionForm.$invalid" class="md-button md-raised md-primary" type="submit" ng-click="addCollecion()">Submit</md-button>

        </form>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>